
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    
    <a href="index.html" class="navbar-brand p-0">
        <div class="text-slider">
            <span>Stop Overthinking.</span>
            <span>Start Deciding.</span>
            <span>Clear Decisions.</span>
        </div>
    </a>

    <div class="ms-auto">
        <div class="navbar-nav py-0 me-n3">
            <a class="me-2" href="">
                <i class="bi bi-person-circle"></i>
            </a>
        </div>
    </div>

</nav>